/node_modules/
coverage
/dist/
src/ex4 - curryWithRecurce.js
src/ex4 - curryTestWithApply.js
src/ex4 - curryFinal.js
src/ex4 - curry.js
src/ex1 - MyBindTest.js
src/ex2 - Chain.js
src/ex2 - ChainNew copy.js
src/ex2 - vers5.js
src/ex2 - WorkWithObj.js
